.preview_wrapper {
  width: 100vw;
  height: 100vh;
  background-color:rgb(37, 37, 37);
  @include flex_line;
  align-items: center;
  justify-content: center; 
  font-family: 'FuturaMediumC';
  p {
    font-size: 70px;
    color: white;
    font-family: 'FuturaMediumC';
  }
}

.wrapper{
  position: relative;
  header {
    widows: 100%;
    height: 8%;
    .header_logo{
      @include flex_line;
      align-items: center;
      justify-content: flex-start;
      font-size: 30px;
      .logo_blue {
        color: rgb(0, 0, 255);
        margin-top: 10px;
        font-weight: bold;
      }
      .logo_white {
        margin-top: 10px;
      }
    }
  }

  main{
    width: 100%;
    height: 84%;
    @include flex_column;
    .search_block {
      @include flex_line;
      justify-content: space-around;;
      width: 100%;
      height: 10%;
      .input_search {
        padding-left: 6px;
        width: 60%;
        border-radius: 10px;
        font-size: 20px;
      }
      .button {
        @extend %blue_button;
        width: 15%;
      }
      .button:hover {
        background-color: white;
        color: blue;
      }
      .border_black {
        border: 2px solid black;
      }
    }
    .video_block {
      width: 100%;
      height: 90%;
      @include flex_column;
      .left_button{
        z-index: 101;
        margin-left: 1%;
        position: absolute;
        left: 0%;
        top: 55%;
        cursor: pointer;
        font-size: 25px;
      }
      .right_button{
        z-index: 101;
        position: absolute;
        margin-right: 1%;
        right: 0%;
        top: 55%;
        cursor: pointer;
        font-size: 25px;
      }
      .video_title{
        height: 10%;
        margin-top: 20px;
        font-size: 20px;
      }
      .video_container{
        position: relative;
        width: 100%;
        padding-top: 1.5%;
        @include flex_line;
        overflow: hidden; 
        .video_items{
          width: 40%;
          .border_black {
            border: 2px solid black;
          }
          .video_img{ 
            width: 100%;
            background-color:rgb(61, 61, 61);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: 10px;
            border: 2px solid blue; 
          }
        }
      }
    }
  }
  footer{
    @include flex_line;
    justify-content: space-between;
    height: 8%;
    .footer_text{
      margin-left: 20px;
      color: blue;
    }
    .button {
      @extend %blue_button;
      padding: 0 20px;
      margin-right: 2%;
    }
    .button:hover {
      background-color: white;
      color: blue;
    }
    .border_black {
      border: 2px solid black;
    }
  }
  .play_video_block {
    width: 720px;
    height: 405px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -202px 0 0 -360px;
    z-index: 102;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 2px solid blue;
    }
  }
  .button {
    @extend %blue_button;
    width: 15%;
    z-index: 103;
  }
  .button:hover {
    background-color: white;
    color: blue;
  }
  .border_black {
    border: 2px solid black;
  }
  .position_close_button {
    position: absolute;
    right: 2%;
    top: 2%;
  }
}
.border_black {
  border: 2px solid black;
}